* {
  margin: 0;
  padding: 0;
}

html {
  margin: 0;
  padding: 0;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 28px;
}

article {
  height: 800px;
  width: 680px;
  margin: 8px;
  border: 2px solid black;
  box-sizing: border-box;
}

header {
  border-bottom: 30px solid black;
  padding-bottom: 5px;
  margin-bottom: 0px;
  margin: 10px 15px 0;
}

h1 {
  font-size: 2rem;
  font-weight: 600;
}

p {
  font-size: 1rem;
  font-weight: normal;
}

/* Amount per serving */
h2:first-of-type {
  border-bottom: 1px solid black;
  padding-bottom: 10px;
  font-size: 1rem;
  font-weight: bold;
}

section:first-of-type {
  margin: 10px 15px;
  border-bottom: 15px solid black;
}

/* Description Lists */

/* Calories row, as well as % Daily Value */
dl:first-of-type {
  display: inline-block;
  width: 50%;
  text-align: left;
  padding-top: 5px;
}

dl:first-of-type > dt {
  display: inline-block;
  font-size: 1rem;
  font-weight: bold;
}

dl:first-of-type > dd {
  display: inline-block;
}

/* Calories from Fat */
dl:nth-of-type(2) {
  display: inline-block;
  margin-left: 71px;
  padding-bottom: 5px;
}

dl:nth-of-type(2) > dt {
  display: inline-block;
  font-weight: 500;
}

dl:nth-of-type(2) > dd {
  display: inline-block;
}

.indent {
  /* display: inline-block; */
  /* outline: 1px solid red; */
}

/* % Daily Value table */
table:first-of-type {
  border-collapse: collapse;
  border-spacing: 0;
  margin: 0 15px;
  max-width: 100%;
}

tr {
  border-bottom: 1px solid black;
}

  tr.indent {
    box-sizing: border-box;
    border-bottom: none;
    width: 50%;
    outline: 1px solid orange;
  }

td {
  border-bottom: 1px solid black;
  /* outline: 1px solid purple; */
}

  td.indent {
    border-bottom: none;
    text-align: left;
    outline: 1px solid green;
}

  td:last-of-type {
    text-align: right;
    font-weight: bold;
  }

[scope="row"] {
  text-align: left;
}

th {
  /* border-bottom: 1px solid black; */
}

  th.indent {
    font-weight: normal;
    outline: 1px solid red;
  }

dl {
  display: inline-block;
}

  dl.indent > dt {
    font-weight: normal;
  }

[colspan="3"] {
  box-sizing: border-box;
  text-align: right;
  width: 680px;
}
