* {
  margin: 0;
  padding: 0;
}

html {
  margin: 0;
  padding: 0;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 28px;
}

article {
  height: 800px;
  width: 680px;
  margin: 8px;
  border: 2px solid black;
  box-sizing: border-box;
}

header {
  padding-bottom: 5px;
  margin-bottom: 0px;
  margin: 10px 15px 0;
  border-bottom: 15px solid black;
}

header p {
  font-size: 1rem;
  font-weight: normal;
}

header p:last-of-type {
  border-bottom: 30px solid black;
  padding-bottom: 5px;
  margin-bottom: 10px;
}

header h1 {
  font-size: 2rem;
  font-weight: 600;
}

dl {
  display: inline-block;
}

dd {
  display: inline-block;
}

dt {
  display: inline-block;
}

/* Amount per serving */
header h2:first-of-type {
  border-bottom: 1px solid black;
  padding-bottom: 10px;
  font-size: 1rem;
  font-weight: bold;
}

/* Calories */
header dl:first-of-type {
  margin-top: 5px;
}

header dl:first-of-type dt {
  font-weight: bold;
}

/* Calories from Fat */
header dl:last-of-type {
  margin-top: 5px;
  margin-left: 1px;
  width: 73.1%;
  text-align: right;
  /* outline: solid red 1px; */
}

main table {
  table-layout: fixed;
  width: 96%;
  margin-top: 9px;
  margin-left: 15px;
}

/* % Daily Value */
thead th {
  width: 100%;
  text-align: right;
  padding-bottom: 2px;
}
